.App {
  text-align: center;
}

.article {
  padding-top: 30px;
  padding-bottom: 100px;
}

body {
  background-image: url("./images/26669.jpg");
  background-size: 20%;
  background-color: azure;
}

.container-sm {
  background-color: white;
}

.headline-text {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.header {
  width: auto;
  height:min-content;
  background-color:#052962;
  min-width: min-content;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* img {
  height: 350px;
} */

.title-text {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 8px;
}